article#front-page-entry.hentry{
	width: $sidebar-width;
	
	
	margin:0;
	@include adjust-font-size-to( 20px, 2.5 );
	font-weight: 300;	

	& p{
		margin-top: 0;
		margin-bottom:0;
		line-height: inherit;
	}
	
}

#guruGraph{
	display: inline-block;
	vertical-align: top;
	width: 540px;
	height: 540px;
	margin-left:2em;	
}

#fallbackGraph{
	display:inline-block;
	width: 540px;
	margin-left: 2em;
	& img{
		display: none;
		width: 100%;
		height: auto;
	}
}
