// Here's where we define some default constants
@import "partials/base";

//look in base for other variables
$inner-content-padding: 20px;

body{
	height:100%;
	width:100%;
	min-width: $base-width;
	display:block;
	//background: $base-bg url('../images/bg-diag.png');
	background: $base-bg;
	//background: #bad;
	@include body-font; //font stack
	color:$base-color;

	//position:relative;	
	//@include min-height( 2000px );

	&.home{
		min-width: 320px;

		& .wrap{
			min-width: 320px;
			width: 90%;
			max-width: $base-width;
		}

		& #content{
			min-height: 100px;
			@include padding-trailer( 4 );
		}

		.button{
			color: #fff;
			font-weight: bold;
			//background: $base-button-color;
			//border: none;
			padding-left: 0.75em;
			padding-right: 0.75em;
			//@include pie;
			@include theme-button();
			//@include border-radius( 3px );
		}

		& .foot-mid{
			@include float-left();
			@include inline-block();
			vertical-align: middle;
			padding-right: 2em;

		}

		& .fp-reserve{
			@include adjust-font-size-to(13px, 1.7);
			@include padding-leader(0.15);		
			@include padding-trailer(0.15);	
			display: block;	
		}

		& #footer{
			text-align: center;

			& .foot-right, & .foot-mid, & .foot-left {
				@include padding-trailer( 1.5 );
			}

			& .foot-right{
				@include float-right;
				position: relative;
				//z-index: 1;
				//top: 0;
				//right: 0;
				@include padding-leader(0);
				
			}

			& .foot-left{
				@include padding-leader(0.5);

				& div{
					@include inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

.homeLink{
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	background: none;
	z-index: 3;
	cursor: pointer;
	cursor: hand;
}

h1, h2, h3, h4, h5, h6{
	//@include bowlby;
}

h1{ @include adjust-font-size-to( 18px ); }
h2{ @include adjust-font-size-to( 16px ); }
h3{ @include adjust-font-size-to( 14px ); }
h4{ @include adjust-font-size-to( 12px ); }
//h5{ @include adjust-font-size-to( 10px ); }
//h6{ @include adjust-font-size-to( 8px ); }


a{
	text-decoration:none;
	color: $base-button-color;
	&:hover{ color: darken($base-button-color, 15%); }
	&:visited{
		color: $base-button-color;
	}
	//@include single-transition( all, $base-transition-time, ease-in-out );
}

b,strong{
}

p{
	@include margin-leader(0.5);
	@include margin-trailer(0.75);
}

input, textarea{
	
	&:focus{
		background: lighten( $base-button-color, 40% );
	}
}


.line{
	@include inline-block;
	height: 100%;
	width: 1px;
	margin-left: -1px;
}

.hide{
	display: none;
}
/* Parts */

$sidebar-width: 180px;

@import "theme/header";
	//@import "theme/banner_bars";
@import "theme/top_nav";
@import "theme/body";
@import "theme/front_page";
@import "theme/sidebar";
@import "theme/rotator";
	//@import "theme/footer_nav";
@import "theme/footer";
@import "theme/page_post";
	//@import "theme/contact_form";
	//@import "theme/mailchimp_subscribe";
	@import "theme/photo_gallery";
	@import "theme/mediaplayer";
@import "theme/dentist_landing";


/* End Parts */

video{
	&:focus{
		outline: none;
		border: none;
	}
}

.wrap{
	width:$base-width;
	margin:0 auto;
}


.clearfix{
	@include pie-clearfix;
}
.alignleft{
	@include float-left;
	margin-right: 1em;
}
.alignright{
	@include float-right;
	margin-left: 1em;
}
.alignnone{}
.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
}



/* --- less than main size --- */
@media screen and (min-width: 980px) {

	body{
		&.home{

			#content{
				@include padding-trailer( 6 );
			}

		}
	}


	article#front-page-entry.hentry{

		& img{

			@include margin-trailer( 2 );
		}
		
	}
}

/* --- iPad Portrait --- */
@media screen and (max-width: 660px) {
	body{
		&.home{

			& .foot-mid{
				float: none;
			}

			& #footer{

			}
		}
	}
}

/* --- Smartphones and small Tablet PCs --- */
@media screen and (max-width : 420px) {

	body{
		&.home{

			#content{
				//padding-bottom: 1em;
			}

		}
	}


	article#front-page-entry.hentry{

		& img{

			@include margin-trailer( 1 );
		}
		
	}
}