.page-template-page-dentist-landing-php{
	
	//&body{
		min-width: 1250px;
	//}
	
	& #content{

		& .wrap{
			width: 1250px;
		}
	}

	& #grad{
		@include background(
			linear-gradient( top, #cacaca 0%, #e1e1e1 80%, #e1e1e1 100% )
		);
	}


}

#dentistLanding{
	
	& .box-wrap{
		
	}
	& .two-col{
		@include padding-leader( 2.5 );
		@include margin-trailer( 1.5 );
		
		@include float-left;
		@include inline-block();
		vertical-align: middle;
		width: 613px;
		text-align: center;
		position: relative;
		
		& #dControls{
			position: absolute;
			bottom: -1.5em;
			width: 100%;
			z-index: 100000;
			
			& .controls{
				
				& div{
					@include pie;
					background: $base-bg;
					color: $base-button-color;
					font-weight: normal;
					font-variant: small-caps;
					width: 19%;
					margin-right: 2%;
					height: 2em;
					@include adjust-font-size-to( 16px, 1 );
					@include padding-leader(0.25);
					@include padding-trailer(0.25);
					padding-left: 1%;
					padding-right: 1%;
					@include opacity(1);
					@include border-radius( 12px );
					@include box-shadow( $base-color 3px 3px 15px 3px );
					@include single-transition( opacity, 0.4s, ease-in-out );
				
					& span{
						@include inline-block;
						vertical-align: middle;
						width: 100%;
						height: auto;
						
						&.line{
							height: 100%;
							width: 1px;
							margin-left: -1px;
						}
					}
				}
			}
		}
		
		&.commute{
			margin-right: 16px;
			
			& .pic{
				background: url('../images/commute.jpg') no-repeat top left;
			
				&:hover{
					
					& .car{
						
						&.one{
							background-position: -142px -400px;
						}
						&.two{
							background-position: -147px -504px;
						}
						&.three{
							background-position: -320px -408px;
						}
						&.four{
							background-position: -1px -404px;
						}
					}
				}
			}
			
			& .car{
				position: absolute;
				display: block;
				background: url('../images/car-overlay-sprite.png');
				@include opacity(0.5);
				
				@include single-transition( opacity, 0.2s, ease-in-out );
				&:hover{
					@include opacity(1);
				
					& .modal{
						@include opacity(1);
					}
				}
				
				& .modal{
					@include pie;
					display: block;
					background: $base-bg;
					color: $base-button-color;
					position: absolute;
					font-weight: normal;
					font-variant: small-caps;
					top: -64px;
					left: -88px;
					@include adjust-font-size-to( 18px, 1.25 );
					@include padding-leader(0.5);
					@include padding-trailer(0.5);
					padding-left: 0.75em;
					padding-right: 0.75em;
					@include border-radius( 12px );
					@include box-shadow( $base-color 3px 3px 15px 3px );
					@include opacity(0);
					@include single-transition( opacity, 0.4s, ease-in-out );
				}					
				
				&.one{
					width: 93px;
					height: 64px;
					background-position: -142px -200px;
					bottom: 4px;
					left: 139px;
					
					& .modal{
						top: -52px;
						left: -100px;
					}
				}
				&.two{
					width: 83px;
					height: 55px;
					background-position: -147px -304px;
					bottom: -1px;
					right: 67px;
					
					& .modal{
						top: -52px;
						left: -76;
					}
				}
				&.three{
					width: 56px;
					height: 48px;
					background-position: -320px -208px;
					top: 187px;
					right: 109px;
				
					& .modal{
						top: -52px;
						left: -90px;
					}
				}
				&.four{
					width: 56px;
					height: 55px;
					background-position: -1px -204px;
					bottom: 98px;
					left: 230px;
				
					& .modal{
						top: -84px;
						left: -160px;
					}
				}
			}
		}
		
		&.solution{
			
			& .slide{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				height: 100%;
				width: 100%;
				text-indent: -9999em;
				color: transparent;
				
				&.one{
					z-index: 2;
					background: url('../images/dentist1.jpg') no-repeat top left;
				}
				&.two{
					background: url('../images/dentist2.jpg') no-repeat top left;
				}
				&.three{
					background: url('../images/parking.jpg') no-repeat top left;
				}
				&.four{
					background: url('../images/dentist4.jpg') no-repeat top left;
				}
				
			}
		}
		
		&.press, &.call{
			vertical-align: middle;
			@include padding-leader(0.25);
			@include margin-trailer(1);

			& a, & span{
				vertical-align: middle;
				//@include float-left;
				@include inline-block;
				text-align: left;
				background: url('../images/car-overlay-sprite.png');
				text-indent: -9999em;
				
				&.cnn{
					//@include margin-leader(0.75);
					width: 67px;
					height: 32px;
					background-position: -720px -215px;
					//margin-right: 4em;
					margin-right: 4.5em;
				}
				&.gigaom{
					width: 41px;
					height: 52px;
					background-position: -720px -280px;
					//margin-right: 4em;
					margin-right: 3.5em;
				}
				&.greenbiz{
					@include margin-leader(0);
					width: 130px;
					height: 46px;
					background-position: -588px -418px;
					margin-right: 5em;
				}
				&.reuters{
					@include margin-leader(-0.75);
					width: 218px;
					height: 52px;
					background-position: -578px -352px;
					margin-right: 0em;
				}
				&.wired{
					@include margin-leader(0);
					width: 144px;
					height: 29px;
					background-position: -640px -150px;
					margin-right: 0em;
				}
				&.speech{
					width: 255px;
					height: 76px;
					background-position: -540px -477px;
					@include float-left;
				}
				&.reserve{
					@include float-right;
					width: 93px;
					height: 89px;
					background-position: -500px 0;
					
					&:hover{
						background-position: -600px 6px;
					}
					&:active{
						background-position: -700px 10px;
					}
				}
				&.want{
					@include float-right;
					width: 250px;
					height: 60px;
					background-position: 0 -700px;
					@include margin-leader(0.5);
					margin-right: 0.5em;
				}
				&.watchhow{
					@include float-right;
					width: 196px;
					height: 74px;
					background-position: -600px -720px;
					margin-right: 0em;
				}

			}
			
		}
		
		&.press{
			margin-right: 16px;
			& a{
				@include margin-leader(-0.25);
				cursor: pointer;
				cursor: hand;
				display: block;
				@include float-left;
				@include opacity( 0.8 );
				
				&:hover{
					@include opacity( 1 );
				}
			}
		}
		
		&.call{
			//text-align: right;
			
		}
		
		& .box-title{
			font-weight: normal;
		}
		
		& .pic{
			display: block;
			height: 388;
			width: 100%;
			position: relative;
			z-index: 1;
		}
			
	}
}