article#front-page-entry.hentry{
	
	//background: #D9D8DA;
	
	background: #000;
	
	min-height: 100px;
	
	margin:0;
	font-weight: 300;	

	& p{
		margin-top: 0;
		margin-bottom:0;
		line-height: inherit;
	}
	
	& .wrap{
		text-align: center;
		position: relative;
		z-index: 5;
		
		& video{
			position: relative;
			z-index: 4;
		}
	}
	
}
