//
// CSS for the specific theme photo gallery styles
//

$galleryHeight: 600px;

#galleryJson{
	display: none;
}
#rotatingGallery{
	position: relative;
	z-index: 1;
	height: $galleryHeight;
	
	//background: #bad;
}

#easePopup{
	//background: #bada55;
	
	text-align: center;
	height: $galleryHeight;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: $base-bg;

	$pTriW: 20px;
	$pColor: $base-bg;
	& #pNext, & #pPrev{
		position: absolute;
		z-index: 3;
		bottom: 1em;
		border: $pTriW solid transparent;
		height: 0;
		width: 0;
		display: block;
		text-indent: -9999em;
		@include opacity(0.75);
		cursor: pointer;
		cursor: hand;
		
		&:hover{
			@include opacity(1);
		}
	}
	& #pNext{
		border-left: $pTriW solid $pColor;
		right: 10%;
	}
	& #pPrev{
		border-right: $pTriW solid $pColor;
		left: 10%;
	}
	& .line, & img{
		@include inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 1;
	}
	& .line{
		width: 1px;
		margin-left: -1px;
		height: 100%;
	}
	& img{
		max-width: 100% !important;
		height: auto !important;
		max-height: 100% !important;
		width: auto !important;
		
		&.wide{
		}
		&.high{
		}
	}
	
	& #pInfo{
		@include pie;
		position: absolute;
		background: rgba(0,0,0,0.3);
		-pie-background: rgba(0,0,0,0.3);
		$bRad: 16px;
		@include border-radius($bRad $bRad 0 0 );
		bottom: 0;
		z-index: 1;
		left: 10%;
		width: 80%;
		min-height: $pTriW * 2;
		@include padding-leader(0.75);
		@include padding-trailer(0.75);
		
		& div{
			@include adjust-font-size-to(13px, 1.25);
			
			&#pTitle{
				@include adjust-font-size-to(14px, 1.25);
			}
			&#pDesc{}
		}
	}
}