//
// CSS for the specific theme rotator
//

/** Rotator **/

@mixin description-grad{
	background: rgba(0,0,0,0.4);

	@include background(
		linear-gradient(
			left,
			rgba(0,0,0,0.4) 80%,
			rgba(0,0,0,0.0) 100%
		)
	);

	@include pie;
	-pie-background: rgba(0,0,0,0.4); 
}

$rotate-height: 625px;

#homeWrap{
	padding-bottom: 50px;
	background: $box-bg;
}
#homeRotate{
	display:block;
	position:relative;
	height: $rotate-height;
	width: 100%;
	min-width: $base-width;
	overflow-x: hidden;
	background: #000;
			
	& .slides{
		display:block;
		width: $base-width;
		margin-left: auto;
		margin-right: auto;
		height: $rotate-height;
		position:relative;
		z-index: 1;
		
		& .slide{
			display:block;
			width: 100%;
			height: $rotate-height;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			
			& img{
				display: block;
				position: absolute;
				top: 0;
				z-index: 1;
			}
			
			& .description{
				color: $base-bg;
				display:none;
				position:absolute;
				bottom: 3em;
				left: 0;
				padding: 6px 12px;
				width: 100%;
				z-index: 2;
						
				& span{
					//width: 50%;
					@include single-text-shadow( darken( $base-bg, 75% ), -1px, 1px, 1px );
					@include inline-block;
					vertical-align: top;
				}
				& .title{
					@include adjust-font-size-to( 32px );
					text-align: right;
					width: 46%;
					padding-right:2%;
					margin-right:2%;
					border-right: 6px solid $base-bg;
				}
				& .caption{
					width: 48%;
					@include adjust-font-size-to( 20px, 1.5 );
				}
			}
		}
	}
}

$ctrl-border-width: 2px;
$ctrl-margin: 4px;
#controlOut{
	position: absolute;
	width: 100%;
	height: $rotate-height +33px;
	min-width: $base-width;
	top: 0;
	left: 0;
	z-index: 2;
	
	#controlWrap{
		position: relative;
		width: $base-width;
		margin-left: auto;
		margin-right: auto;
		height: $rotate-height + 33px;
		z-index: 2;
		color: $box-bg;

	}


}

.controls{
	position: absolute;
	width: 100%;

	$w-tri: 98px;
		
	&.bin{
		height: floor( ( $rotate-height + $w-tri ) / 2 );
		top: 0;
		left: 0;
		z-index: 4;
		& span{
			
			cursor: pointer;
			cursor: hand;
			position: absolute;
			display: block;
			bottom: 0;
			height: 0px;
			width: 0px;
			@include opacity(0.5);
			border: $w-tri/2 solid transparent;
			text-indent: -9999em;
			
			&:hover{
				@include opacity( 0.75 );
			}
			&:active{
				@include opacity( 0.9 );
			}
			&.next{
				left: 1em;
				border-right: $w-tri/2 solid $box-bg;
			}
			&.prev{
				right: 1em;
				border-left: $w-tri/2 solid $box-bg;
			}
		}
	}
	&.norm{
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		
		& div{
			cursor: pointer;
			cursor: hand;
			@include inline-block;
			background: #fff;
			margin-right: 2em;
			@include pie;
			@include border-radius( 14px );
			& span{
				display: block;
				height: 50px;
				width: 200px;
				@include opacity( 0.5 );
			}
			
			&.active, &.active:hover{
				& span{
					@include opacity(1);
				}
			}
			&:hover{
				& span{
					@include opacity(0.75)
				}
			}
		}
	}
}

.lte8 #controls span{
	height:22px !important;
}

/** End Rotator **/

