//
// CSS for the specific theme rotator
//

/** Rotator **/

@mixin description-grad{
	background: rgba(0,0,0,0.4);

	@include background(
		linear-gradient(
			left,
			rgba(0,0,0,0.4) 80%,
			rgba(0,0,0,0.0) 100%
		)
	);

	@include pie;
	-pie-background: rgba(0,0,0,0.4); 
}


#rotator{
	display:block;
	position:relative;
	height:371px;
	width: 707px;
	margin-left: 2em;
	
	@include float-left;
		
	& #slides{
		display:inline-block;
		width:707px;
		height:371px;
		overflow:hidden;
		position:relative;
		@include float-left;
		
		& .slide{
			display:block;
			width:707px;
			height:371px;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			
			& img{
				display:block;
				position:absolute;
				bottom: 0;
				left: 0;
			}
			
			& .description{
				@include description-grad;
				color: lighten( $base-color, 70% );
				display:block;
				position:absolute;
				bottom: 0;
				left: 0;
				padding: 6px 12px;
				width: 66%;
				@include adjust-font-size-to( 14px );
						
				& span{
					//width: 50%;
					@include single-text-shadow( darken( $base-bg, 75% ), -1px, 1px, 1px );
				}
				& .title{
					@include float-left;
					@include bowlby;
					@include adjust-font-size-to( 32px );
					text-align: right;
					width: 46%;
					padding-right:2%;
					margin-right:2%;
					border-right: 6px solid lighten( $base-color, 70% );
				}
				& .caption{
					width: 48%;
					display: block;
					@include float-left;
					@include adjust-font-size-to( 22px, 1.5 );
				}
			}
		}
	}
}

$ctrl-border-width: 2px;
$ctrl-margin: 4px;

#controls{
	@include inline-block;
	@include margin-trailer(0.5);
	margin-right:1em;
	position:absolute;
	bottom:0;
	right:0;
	z-index:999999;
	
	& span{
		background: $box-bg;
		border: $ctrl-border-width solid $base-button-color;
		color: $base-button-color;
		//@include pie;
		@include float-left;
		display: block;
		margin-left: $ctrl-margin;
		//@include adjust-font-size-to(14px, 1.5);
		font-size: 16px;
		line-height: 22px;
		width: 22px;
		height: 20px;
		text-align: center;
		@include border-radius( 22px );
		
		cursor: default;
		
		&:hover{
			border: $ctrl-border-width solid darken( $base-button-color, 15% );
			color: darken( $base-button-color, 15% );
			background: darken( $box-bg, 15% );
			
		}
		&.active{
			border: $ctrl-border-width solid $base-header-color;
			color: $base-header-color;
		}
	}
}

.lte8 #controls span{
	height:22px !important;
}

/** End Rotator **/

